* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
  width: 100%;
}

@media (max-width: 500px) {
  .container-home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
}